chromadb==0.4.3
duckduckgo_search
gradio
langchain-aws
langchain-openai
langchain_community
langchain_experimental
langchain-google-community[vertexaisearch]
langchain-google-vertexai
langgraph
openai
requests
tavily-python

## llamastack related dependencies
llama-stack-client
